/* Start Global */ 
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


.container{
	width: 1200px;
	margin: auto;
	position: relative;
	
}
.table { 
	height: 100%;
	display: table;
}

.table-row{
	display: table-row ;
	height: 60%;
}
body{

font-family: 'Open Sans', sans-serif;
}

/* End Global */ 

/* ----------------------------------*/
/* Start Header */

.header{
	background: url('../images/header.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	color: #FFF;
}

.header .overlay{
	background-color: rgb(49,55,61,.9);
	width: 100%;
	height: 100%;
}

.header	.navbar{
	overflow: hidden;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.header .navbar .logo{
	font-size: 24px;
}
.header .navbar .links{
	float: right;
}

.header .navbar .links i{
	margin-left: 5px ;
}

.header .intro h1{
	margin: 0;
	font-weight: 800;
	font-size: 50PX;

}

.header .intro P{
	margin: 10px 0 40px;
	line-height: 1.5;
	font-size: 20px;
	color: rgb(223, 223, 223);
}
.header .buttons button {
	background: transparent;
	padding: 5px 0;
	width: 180px;
	font-size: 14px;
	border: 1px solid rgb(238, 233, 233);
	border-radius: 4px;
	margin: 0 8px;
	color: #FFF;
	-webkit-transition: all .5s  ease-in-out;
	-moz-transition: all .5s  ease-in-out;
	transition: all .5s  ease-in-out;
}

.header .buttons button:hover{
	background-color: #F35F0F ;
	border: 1px solid #F35F0F
}

.header .arrow{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 40px 0;
}

.arrow i{
	padding-bottom: 0px;
	border: 2px solid rgb(124, 122, 122);
	border-radius: 70%;
	height: 40px;
	width: 40px;
	line-height: 40px;
	cursor: pointer;
}

/* ----------------------------------*/
 /* Start Features */
 .feature {
	 padding: 80px 0;
	 overflow: hidden;
	 text-align: center;
 }

 .feature .box{
	 width: 22%;
	 float: left;
	 margin-right: 4%;
	 
 }

 .feature .box:last-child{
	 margin-right: 0;
 }

 .feature .box i{
	 color: #F35F0F;
	 border: 1px solid rgb(165, 165, 165);
	 border-radius: 50%;
	 width: 120px;
	 height: 120px;
	 line-height: 120px;
	-webkit-transition: all .3s ease-in-out ;
	-moz-transition: all .3s  ease-in-out;
	transition: all .3s  ease-in-out;
 }
 .feature .box i:hover{
	 background-color: #F35F0F;
	 color: #FFF;
	 border:  1px solid #F35F0F ;
 }
 .feature .box h3{
	 color: rgb(95, 93, 93);
	 text-transform: uppercase;
	 font-weight: normal;
 }

 .feature .box p{
	 color:  rgb(102, 100, 100);
 }
/* ----------------------------------*/

/*Start Subscribe */
.subscribe{
	background: url('../images/subscribe.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	height: 250px;
	
}

.subscribe .overlay{
		background-color: rgb(49,55,61,.9);
		width: 100%;
		height: 100%;
}

form{
	padding: 100px 0;
	width: 700px;
	margin: auto;
	text-align: center;
}

.subscribe form input {
	padding: 8px;
	width: 450px;
	margin-left: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 10px;
}

.subscribe form button{
	padding: 10px;
	width: 200px;
	background-color: #F35F0F;
	color: #FFF;
	border: none;
	margin-left: 15px;
	border-radius: 10px;

}

/* ----------------------------------*/
/* Start Our work */

.our-work{
	padding: 50PX 0;
}
.our-work h2{
	font-weight: normal;
	font-size: 35px;
	margin-bottom: 0;
}

.our-work p{
	line-height: 2;
	margin: 10px 0 40px;
}

.show-more{
	background: transparent;
	border: 1px solid #cccccc;
	width: 180px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	color: #555;
}

.show-more:hover{
	background: #F35F0F;
	border: 1px solid #F35F0F;
	width: 180px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	color: #EEE;
	-webkit-transition: all .5s  ease-in-out;
	-moz-transition: all .5s  ease-in-out;
	transition: all .5s  ease-in-out;
}

.our-work .item-box{
	overflow: hidden;
}

.our-work .item-box .item{
	float: left;
	width: 31%;
	overflow: hidden;
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 12px;
	border-radius: 12px;
	position: relative;
}

.our-work .item-box .item .over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(247, 96, 14, .8);
	color: #EEE;
	display: none;
}
.our-work .item-box .item:hover .over{
	display: block;
}
.our-work  .item .over h4{
	font-size: 20px;
	margin-top: 80px;
	margin-bottom: 0;
}
.our-work .item .over p{
	margin-top: 10px;
	margin-bottom: 50px;
	line-height: 2;
}

.our-work .item	.show-project{
	background: transparent;
	border: 1px solid #cccccc;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	color: #EEE;
}

.our-work .item	.show-project:hover{
	background: #FFF;
	border: 1px solid #FFF;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 20px;
	color: #F35F0F;
	-webkit-transition: all .5s  ease-in-out;
	-moz-transition: all .5s  ease-in-out;
	transition: all .5s  ease-in-out;
}
/* ----------------------------------*/
/* Strat testimonial */
.testim{
	background: url('../images/testim.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	height: 450px;
}



.testim .overlay{
	background-color: rgb(49,55,61,.9);
	width: 100%;
	height: 100%;
}
.testim .client{
	padding: 50px 0;
	color: #FFF;
	font-size: 20px;
}

.testim .client img{
	border-radius: 50%;
}
.testim .client p{
	line-height: 2 ;
	font-style: italic;
}

.testim .fa-chevron-right{
	position: absolute;
	top: 50%;
	right: 0;
	color: #999;
	cursor: pointer;
}

.testim .fa-chevron-left{
	position: absolute;
	top: 50%;
	left: 0;
	color: #999;
	cursor: pointer;

}

.testim .fa-chevron-right:hover,
.testim .fa-chevron-left:hover	{
	color: #F35F0F;
}

/* ----------------------------------*/

/* Our Team */
.our-team{
	padding: 50px 0;
}

.our-team h2{
	font-size: 35px;
	margin-bottom: 0;
}

.our-team .main{
	margin:  10px 0 40px;
	line-height: 2;
	color: rgb(92, 91, 91);
	font-size: 20px;
}

.our-team .the-team {
	overflow: hidden;
}

.our-team .the-team .person{
	float: left;
	width: 24%;
	margin-left: 1%;
	color: #888;
}
.our-team .the-team .person:hover img{
	filter: none;
	-webkit-filter: grayscale(0);
	height: 310px;
	width: 280px;
	-webkit-transition: all .5s  ease-in-out;
	-moz-transition: all .5s  ease-in-out;
	transition: all .2s  ease-in-out;
}

.our-team .the-team .person:hover {
	color: #555;
}
.our-team .the-team .person:hover	.social .fa-facebook{
	background-color: #3b5998;
	color: #EEE;
}

.our-team .the-team .person:hover	.social .fa-google-plus{
	background-color: #dd4b39 ;
	color: #EEE;

}

.our-team .the-team .person:hover	.social .fa-twitter{
	background-color: #1da1f2;
	color: #EEE;

}
.our-team .the-team .person img{
	width: 265px;
	height: 290px;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1) ;
}

.our-team .the-team .person h2{
	font-size: 15px;
}

.our-team .the-team .person P{
	font-size: 15px;
}

.our-team .the-team .person .social i{
	background-color: #EEE;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #888;
	border-radius: 50%;
}


/* ----------------------------------*/

/* Start Contact */

.contact{
	background: url(../images/subscribe.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
.contact .overlay{
	padding: 50px 0;
	color: #EEE;
}
.contact h2{
	font-size: 35px;
}
.contact p{
	line-height: 2;
}
.contact form {
	width: 700px;
	margin: auto;
	text-align: center;
}
.contact form input[type="text"],
.contact form input[type="email"] {
	width: 48%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #EEE;
	border-radius: 10px;
	color: #888;
	line-height: 40px;
}
.contact form input[type="text"]{
	margin-right: 2%;
	float: left;

}
.contact form input[type="email"]{
	float: right;
}
.contact form textarea{
	margin-top: 20px;
	width: 100%;
	height: 160px;
	padding: 0 10px;
	border: 1px solid #EEE;
	border-radius: 10px;
	color: #888;
	line-height: 40px;
}
.contact form .info {
	overflow: hidden;
	margin-top: 20px;
}

.contact form .info button{
	float: left;
}

.contact form .info .form-icons{
	float: right;
	
}
.contact form .info .form-icons i{
	background-color: #EEE;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #888;
	border-radius: 50%;
 }
.contact form button{
	padding: 10px;
	width: 200px;
	background-color: #F35F0F;
	color: #FFF;
	border: none;
	border-radius: 10px;	
}

.contact form .info .form-icons .fa-facebook{
	background-color: #3b5998;
	color: #EEE;
}

.contact form .info .form-icons .fa-google-plus{
	background-color: #dd4b39 ;
	color: #EEE;

}
.contact form .info .form-icons .fa-twitter{
	background-color: #1da1f2;
	color: #EEE;

}
/* ----------------------------------*/

/* Start Footer */
.footer{
	background-color: #3b434c;
	color: #FFF;
	overflow: hidden;
	padding: 30px 0 ;
}

.footer .copyright{
	float: left;
}

.footer .design {
	float: right;
}
/* ----------------------------------*/

/* Start My Framework */

.text-center{
	text-align: center;
}

.upper{
	text-transform: uppercase;
}

.main-color{
	color: #F35F0F
}

.main-background{
	background-color: #F35F0F
}
.clearfix {
	clear: both;
}

.spectial-heading {
	position: relative;
}

.spectial-heading::after {
content: "";
display: block;
position: absolute;
top: 40px;
left: 0;
width: 40px;
border-bottom: 2px solid #333;
}

.separtor{
	border: 1px solid #EEE;
	display: 	block;
	margin: 40px;

}

.hidden{
	display: none;
}

.overlay{
	background-color: rgb(49,55,61,.9);
	width: 100%;
	height: 100%; }
/* End My Framwork */